body{
    font-family: 'Saira', sans-serif;
    background-color: black;
}


/*This is mobile*/

.social {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 400px;
}

.social-inner {
    color: white;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.social-inner img {
    border-radius: 50%;
    width: 75px;
}
.social-inner h1 {
    font-size: 18px;
    margin-top: 2px;
}
.social-inner p {
    font-size: 10px;
}
.social-inner ul {
    padding-left: 0;
}
.social-inner li {
    display: inline;
}


.nav-wrapper {
    background-color: #5d5c61;
}
.nav {
    text-align: center;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav ul {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style: none;
}


.infowrapper{
    background-color: #7496ad;
}


.projectswrapper{
    background-color: #567a94;
}
.projects a{
    style: none;
    color: black;
}

.right-display {
    height: 100px;
}

.contactwrapper{
    background-color: #5d5c61;
    color: white;
}
.contact{
    list-style: none;
    display: inline;
}


.bottomlinks{
    background-color: #5d5c61;
    list-style: none;
}

@media(min-width: 768px) {
    .right-display {
        height: 180px;
    }
}
@media(min-width: 992px) {
    .right-display {
        height: 240px;
    }
}
@media(min-width: 1200px) {
    .right-display {
        height: 290px;
    }
}